body {
    background-color: #d2f7e9;
}

li {
  list-style: none;
}

.card-body, .navbar {
    background-color: #88f3ca;
}

.logo_png {
  height: 20px;
  width: 20px;
}

.WhatsApp{    
    width: 50px;
    height: 50px;    
    background-color: #3ef806;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 22px;
}

.instagram{
  width: 50px;
  height: 50px;  
  background-color: #f5c012;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 10px;  
}

.tamanho-icone {
  font-size: 2rem;
}

.icon-hover {
  color: white;
  background: #ff940f;
}

.icon-hover:hover {
  color: blue;
}

.seta-topo{
    display: none;
    position: fixed;
    opacity: .3;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;  
    background-color: #68635f;
    transition: background-color 0.5s;
  }

  /* terceira seção */
  .text {
    margin-top: 100px;
  }

  /* quarta seçaõ */

  .imagem {
    margin-left: 300px;
  }

  /* SIMBOLO DO WhatsApp */
  .fa-whatsapp{
    margin-top: 4px;
    font-size: 10px;
  }

  .seta-topo:hover{
    color: #fff;  
    background-color: #e2a355;
  }


  /* .img-carousel-intro */
  .img-carousel-intro{
      width: 380px !important;
  }
  @media only screen and (min-width: 768px) {
    .img-carousel-intro{
        width: 632px !important;
    }
  }


  /* xs */
 


  /* sm >=576px */
  @media (min-width: 576px) {
    .cards-1 {
      
    }
  }
  
  /* md >= 768px */
  @media (min-width: 768px) {
    .cards-1 {
      
    }
  }

  /* lg >= 992px */
  @media (min-width: 992px) {
    .cards-1 {
      
    }
  }



  