body {
    background-color: #e8ebea;
}

li {
  list-style: none;
}

.card-body, .navbar {
    background-color: #f1fdfd;
}

.logo {
  height: 80px;
  width: 80px;
}

.card {
}

.WhatsApp{    
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
}

.instagram{
  width: 50px;
  height: 50px;
  color: rgb(12, 11, 11);
  border-radius: 50px;
  text-align: center;
  font-size: 10px; 
  margin-top: 8px; 
}

.tamanho-icone {
  font-size: 2rem;
}

.icon-hover {
  color: blue;
  /* background: #ff940f; */
}

.icon-hover:hover {
  color: blue;
}

.seta-topo{
    display: none;
    position: fixed;
    opacity: .3;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;  
    background-color: #68635f;
    transition: background-color 0.5s;
  }

  /* primeira seção */
  .text {
    margin-top: 40px;
  }

 

  /* SIMBOLO DO WhatsApp */
  .fa-whatsapp{
    margin-top: 11px;
    font-size: 10px;
  }

  .seta-topo:hover{
    color: #fff;  
    background-color: #e2a355;
  }


  /* .img-carousel-intro */
  .img-carousel-intro{
      width: 380px !important;
  }
  @media only screen and (min-width: 768px) {
    .img-carousel-intro{
        width: 632px !important;
    }
  }

  /* vale demais sbt */

  



  